.sidenav-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidenav {
  width: 200px;
  overflow: hidden;
  transition: width 0.3s ease; /* Smooth transition when opening/closing */
}

.mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Aligns items in the toolbar */
  align-items: center; /* Centers items vertically */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.toolbar-title {
  flex-grow: 1; /* Takes up available space, centering the title */
  text-align: center; /* Aligns the text center horizontally */
}

