.sidenav-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidenav {
  width: 200px;
  overflow: hidden;
  transition: width 0.3s ease; /* Smooth transition when opening/closing */
}

.mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toolbar {
  background-color: #fff; /* Example background color for the toolbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow */
  z-index: 1; /* Ensure the toolbar stays on top */
}

